body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
  text-decoration: inherit;
  /* font-weight: 300; */
}
.cart a {
  font-weight: 500;
  color: inherit;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
main {
  min-height: 80vh;
}
.link-unstyled,
.link-unstyled:link,
.link-unstyled:hover {
  color: inherit;
  text-decoration: inherit;
}
h3.card-text {
  padding: 1rem 0;
}
.rating span:last-child {
  margin: 0.5rem;
}
.loader-container {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #123456;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
.fa-shopping-cart {
  position: relative;
}
.form-control {
  appearance: auto;
  padding: 0.75rem 0.5rem;
}
.cart-dot {
  height: 20px;
  width: 20px;
  background-color: rgb(182, 13, 13);
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  bottom: 10px;
  left: 10px;
  z-index: 1;
}

/* pop up box styles */
.swal-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.swal-button {
  border-radius: 0;
  background-color: rgb(242, 242, 242);
  color: rgb(82, 82, 82);
}
.swal-button.swal-button--shop:hover {
  background-color: rgb(250, 250, 250);
}
.swal-button--cancel {
  background-color: rgb(242, 242, 242);
}
.swal-button--confirm {
  background-color: #1a1a1a;
  font-family: "Nunito Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  text-transform: uppercase;
  color: rgb(242, 242, 242);
}
.swal-button--confirm.swal-button--danger {
  background-color: rgb(179, 16, 16);
  color: rgb(242, 242, 242);
}
.swal-button--confirm:hover,
.swal-button--confirm:not([disabled]):hover {
  background-color: #353535;
}

@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media screen and (min-width: 768px) {
  /* make cards with single line titles the same height as the doubles */
  .home h6.card-title {
    min-height: 39px;
  }
}
